*~
/tmp/

pom.xml
pom.xml.asc
/lib/
/classes/
/target/
/checkouts/
*compiled*
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.nrepl-history
figwheel_server.log
.cljs_rhino_repl
resources/public/css/
node_modules/
.swp
