{:require  [orgpad.core.boot 
            orgpad.render.metaball
            orgpad.render.bezier
            orgpad.render.tests]
 :init-fns [orgpad.core.boot/init
            orgpad.render.tests/run]}
