// default sidebar size
@sidebar-width:250px;

// default sidebar color
@sidebar-color: white;

// default active sidebar color
@sidebar-color-active: white;

// path to icons
@icon-path: '../img/icons';
