@import "circle_button.less";

.map-view {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  .map-view-canvas {
    position: relative;

    .map-view-child {
      position: absolute;
    }

    .link-control {
        .circle-button-base;
        width: 20px;
        height: 20px;
    }
  }

  .map-view-unit-selected {
    position: absolute;
    border: 2px dashed #e42c2c;
    z-index: 1;
  }
}

.map-tuple-sheet-number {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 20px;

    background-color: white;
}

.map-tuple {
    width: 100%;
    height: 100%;
}

.map-tuple-menu {
    z-index: 1;
    position: absolute;
    top: 70px;
    right: 20px;

    background-color: white;
}
