@import "config.less";
@import "circle_button.less";
@import "icons.less";

.map-view {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  order: 1;
  position: relative;
  background-color: #f3f3f3;

  overflow-x: hidden;
  overflow-y: hidden;

  .map-view-canvas {
    position: absolute;

    .map-view-child-container {
        position: absolute;
        display: flex;
    }

    .map-view-child {
      position: absolute;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .tuple-page-indicator {
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      text-align: center;
      width: 100%;
      height: 13px;
    }

    .link-control {
      .circle-button-base;
      width: 20px;
      height: 20px;
    }

    .leader-control {
      // border-radius: 100%;
      cursor: pointer;
      // background-color: black; // rgba(104, 174, 240, 0.1);
      color: rgba(255, 255, 255, 0);
      width: 20px;
      height: 20px;
      top: 0px;
      left: 0px;
      &:hover {
        // background-color: black; // rgba(120, 190, 255, 0.1);
        color:rgba(0, 0, 0, 1);;
      }
      & i {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    .select-check {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 10px;
      height: 10px;
    }
  }

  .left {
      float: left;
  }

  .right {
      float: right;
  }

  .new-page-box {
      position: absolute;
      z-index: 5;

      background-color: white;
      border-radius: 5px;
      padding: 10px;
      border: 1px solid black;
      min-width: 125px;

      &.one-page {
          bottom: -15px;
          left: 33%;
      }

      &.multi-page {
          bottom: -6px;
          left: -10px;
      }

      .view-type {
          height: 26px;

          & > span {
              margin: 2px;
          }
      }

      .label {
          margin-top: 5px;
          margin-bottom: 10px;
          font-weight: 600;
      }

      .buttons {
          padding: 10px;
      }

  }

  .page-nav {
      position: fixed;
      z-index: 5;
      width: 75px;
      height: 75px;
      border-radius: 40px;
      bottom: -40px;
      right: -30px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
      .iu("page-flipper-bg.svg");

      &.read {
          width: 70px;
          height: 70px;

          .prev {
              top: 25px;
              left: 4px;
          }

          .next {
              top: 25px;
              right: 4px;
          }

          .nums {
              top: 25px;
              left: 19px;
          }
      }

      .prev {
          position: absolute;
          top: 22px;
          left: 6px;
      }

      .next {
          position: absolute;
          top: 22px;
          right: 6px;
      }

      .nums {
          position: absolute;
          top: 22px;
          width: 33px;
          height: 22px;
          left: 21px;
          background-color: #ddd;
          color: black;
          font-size: 10px;
          text-align: center;

          span {
              position: relative;
              top: 4px;
          }
      }

      .add-page {
          position: absolute;
          top: 48px;
          left: 19px;
      }

      .del-page {
          position: absolute;
          top: 48px;
          right: 8px;
      }
  }

  .manipulator-toolbar {
      position: absolute;
      z-index: 5;
      width: 65px;
      left: -32px;
      top: 0px;

  }

  .hover {
      &:hover {
          -webkit-filter: invert(10%);
          filter: invert(10%);
      }
  }

  .map-view-unit-interested {
      position: absolute;
      // border: 2px solid @unit-editor-color;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
      border-radius: 6px 6px;
      z-index: 5;
      width: 100%;
      height: 100%;
      top: 0px;
  }

  .map-view-unit-selected {
      position: absolute;
      border: 2px solid @unit-editor-color;
      border-radius: 6px 6px;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0px;

      &.nodes {
          border: 5px dotted @unit-editor-color-nodes;
      }

    .tool-bar-top {
        position: absolute;
        top: -20px;
        right: -15px;
        z-index: 5;
    }

    .hover1 {
        &:hover {
            -webkit-filter: brightness(220%);
            filter: brightness(220%);
        }
    }

    .tool-bar-bottom {
        position: absolute;
        bottom: 0px;
        left: 49%;
        z-index: 5;
        padding: 2px;
        font-size: 12px;
        // background-color: white;
        // width: 100px;
        height: 18px;

        span {
            margin: 1px;
        }

        .num-pages {
            margin-right: 3px;
        }
    }

    .quick-editor-wrapper {
        padding: 3px;
        // padding-bottom: 10px;
    }

    .quick-editor-ok {
        position: relative;
        bottom: 1px;
        left: 45%;
        background-color: #ccc;
        border-radius: 15px;
        width: 50px;
        text-align: center;
        padding: 2px;
        font-weight: 900;
        font-size: 14px;
        font-family: inherit;

        &:hover {
            filter: brightness(110%);
            cursor: pointer;
        }
    }

    .quick-editor-dots {
        position: absolute;
        top: 18px;
        right: 10px;
        padding: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    .info-editor {
        position: relative;
        left: 2px;
        min-width: 100px;
        height: 70px;
        padding: 5px;
        border-radius: 5px 5px 0px 0px;
        background-color: white;
        box-shadow: 0px 0px 5px #bbb;

        .cancel {
            float: right;
            filter: invert(50%);
            &:hover {
                filter: invert(0%);
                cursor: pointer;
            }
        }
    }

    &.simple {
        z-index: -1;
    }

    .resize-handle-top-left {
      position: absolute;
      top: 0px;
      left: 0px;
      cursor: nwse-resize;
      width: 10px;
      height: 10px;
      z-index: 3;
    }

    .resize-handle-top {
       position: absolute;
       top: 0px;
       left: 0px;
       cursor: row-resize;
       width: 100%;
       height: 10px;
       z-index: 2;
    }

    .resize-handle-top-right {
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: nesw-resize;
      width: 10px;
      height: 10px;
      z-index: 3;
    }

    .resize-handle-right {
       position: absolute;
       top: 0px;
       right: 0px;
       cursor: col-resize;
       height: 100%;
       width: 10px;
       z-index: 2;
    }

    .resize-handle-bottom-right {
      position: absolute;
      bottom: 0px;
      right: 0px;
      cursor: nwse-resize;
      width: 10px;
      height: 10px;
      z-index: 3;
    }

    .resize-handle-bottom {
       position: absolute;
       bottom: 0px;
       left: 0px;
       cursor: row-resize;
       width: 100%;
       height: 10px;
       z-index: 2;
    }

    .resize-handle-bottom-left {
      position: absolute;
      bottom: 0px;
      left: 0px;
      cursor: nesw-resize;
      width: 10px;
      height: 10px;
      z-index: 3;
    }

    .resize-handle-left {
       position: absolute;
       top: 0px;
       left: 0px;
       cursor: col-resize;
       height: 100%;
       width: 10px;
       z-index: 2;
    }
  }

  .map-view-border-edit- {
      border: 2px solid #cccccc;
      padding: 5px;
      width: 185px;
      background-color: white;

      .center {
          text-align: center;
          margin-bottom: 5px;
      }

      .fake-center {
          margin-left: 12px;
          margin-right: 12px;
          margin-bottom: 5px;
      }
  }

  .map-view-border-edit {
      background-color: white;

      .center {
          text-align: center;
          margin-bottom: 5px;
      }

      .fake-center {
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 5px;
          width: 80%;
      }
  }

  .selection-box {
    border: 2px solid #cccccc;
    position: absolute;
  }

  .dnd-new-unit {
      position: absolute;
  }
}

.map-tuple-sheet-number {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
}

.map-tuple {
  width: 100%;
  flex-grow: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.map-tuple-clicker-left {
  width: 20px;
  height: 100%;
  //float: left;
  //display: flex;
  position: absolute;
  // background-color: rgba(200, 200, 200, 0.1);
  left: 0px;
  top: 0px;
  color: rgba(255, 255, 255, 0);
  & i {
    position: relative;
    top: 40%;
    // height: 10%;
  }

  &:hover {
    color: #eee; // black;
  }
}

.map-tuple-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  // min-width: 85%;
  height: 100%;
  overflow: auto;
  // display: flex;
  //float: left;
}

.map-tuple-clicker-right {
  width: 20px;
  height: 100%;
  // display: flex;
  // float: right;
  position: absolute;
  // background-color: rgba(200, 200, 200, 0.1);
  color: rgba(255, 255, 255, 0);
  right: 0px;
  top: 0px;
  text-align: right;
  & i {
    position: relative;
    top: 40%;
  }
  &:hover {
    color: #eee; // black;
  }
}

.map-tuple-tab {
  height: 100%;
  width: 100%;
  display: flex;

  & tr {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.map-tuple-menu {
  z-index: 1;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
}

.map-selected-unit {
  width: 100%;
  max-height: 200px;
  // height: 200px;
  // border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-bottom: 3px double;

  &:hover {
    background-color: rgba(120, 190, 255, 0.1);
  }

  // &:last-child {
  //   border-bottom: 0px;
  // }
}

.map-props-toolbar {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  // width: 220px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;

  & > div {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
