.map-view {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  .map-view-canvas {
    position: relative;

    .map-view-child {
       position: absolute;
    }
  }
  .map-view-unit-selected {
    position: absolute;
    border: 2px dashed orange;
    z-index: 1;
  }
}