@import "config.less";
@import "icons.less";
@import "mixins.less";
@import "circle_button.less";

.sidebar {
    display:block;
    height:100%;
    position:absolute;
    right:@sidebar-width*-1;

    >div {
        position:relative;
        z-index:2;
        top:0;
        width:@sidebar-width;
        height:100%;
        .border-box;
        .transition(-webkit-transform ease 250ms);
        .transition(transform ease 250ms);

        &.right {
        }

        &.sidebar-visible.right {
            .transform(translate3d(@sidebar-width*-1, 0, 0));
        }

        >div {
            height:100%;
            background:@sidebar-color;
        }

        >.sidebar-button {
            .circle-button;
            top: 50%;
            left: -30px;
            box-shadow: none;
            z-index:-1;

           >i {
               position: relative;
               left: -10px;
            }
        }
    }
}