@import "config.less";
@import "icons.less";
@import "mixins.less";
@import "circle_button.less";

.sidebar {
    display:block;
    height:100%;
    position:absolute;
    // left:0;
    // right: @sidebar-width*-1;
    &.right {
        right: @sidebar-width*-1;
    }

    &.left {
        left: @sidebar-width*-1;
    }

    >div {
        position:relative;
        z-index:2;
        top:0px;
        width:@sidebar-width;
        height:100%;
        .border-box;
        .transition(-webkit-transform ease 250ms);
        .transition(transform ease 250ms);

        &.right {
            // right: @sidebar-width*-1;
        }

        &.left {
            // left:0;
        }

        &.sidebar-visible.right {
            .transform(translate3d(@sidebar-width*-1, 0, 0));
        }

        &.sidebar-visible.left {
            .transform(translate3d(@sidebar-width*1, 0, 0));
        }


        >div {
            height:100%;
            background:@sidebar-color;
            top:-20px;
            position: relative;
        }

        >.sidebar-button {
            position: relative;
            top: 50%;
            height: 20px;
            width: 10px;
            &:hover {
                background-color: #eee;
            }
        }

        &.left > .sidebar-button {
            right: @sidebar-width*-1;
        }

        &.right > .sidebar-button {
            left: -10px;
        }
    }
}
